* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    color: #fd981c;
}

label {
    font-size: 0.7rem;
}

.form-group label {
    color: darkorange;
}

.checkbox label {
    color: black;
}

.container {
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding-inline: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    max-width: 1350px;
    margin-top: 1rem;
}

.form-group {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.form-group.name .form-input,
.form-group.data .form-input,
.form-group > .btn-reset {
    flex-grow: 1;
}

.form-group > .btn-submit {
    flex-grow: 3;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkbox-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn {
    padding-block: 0.6rem;
    background-color: darkorange;
    color: white;
    border-color: transparent;
    border-radius: 3px;
    outline: none;
}

.btn:hover {
    background-color: rgba(255, 140, 0, 0.65);
    cursor: pointer;
}

.input {
    padding: 0.5rem 1rem;
    border: 1px solid silver;
    border-radius: 3px;
    outline: none;
    color: #7e7979;
}

.input:focus {
    border: 1px solid #fd981c;
    color: black;
}

.clr-black {
    color: black;
}

.fd-col {
    flex-direction: column;
}

@media (min-width: 576px) {
    .checkbox-wrapper {
        display: flex;
        justify-content: space-between;
    }
}